@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		font-family: 'Lato', sans-serif;
	}
}

.main_banner .swiper {
	height: 100vh;
	width: 100vw;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.main_banner .banner_img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 0;
	display: flex;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #ffc347;
}
